.grp_box {
    padding: 40px;
    background: #f5f5f5;
    margin-bottom: 30px;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
  }
  .grp_box h2,
  .grp_box h3,
  .neet_container h2,
  .neet_container h3 {
    margin-bottom: 15px;
    font-size: 26px;
    font-family: "Georgia";
    color: #000;
    line-height: 1.2em;
  }
  .grp_box h5 {
    margin-bottom: 15px;
    font-size: 16px;
    font-family: "Georgia";
    color: #000;
    text-transform: uppercase;
  }
  .grp_box p {
    font-size: 16px;
    margin-bottom: 1rem;
    font-family: "Georgia";
    color: grey;
  }
  .grp_box ul li {
    font-size: 16px;
    margin-bottom: 1rem;
    font-family: "Georgia";
    color: grey;
    content: "+";
  }
  .grp_box ul li i {
    padding-right: 8px;
    color: #000;
  }
  .neet_container th {
    font-size: 16px;
    font-family: "Georgia";
    color: #000;
  }
  .neet_container td {
    font-size: 16px;
    font-family: "Georgia";
  }
  .faq_section {
    background-color: #f5f5f5;
    padding: 100px;
  }
  .faq .accordionn {
    align-self: center;
  }
  .faq .accordionn .contentBx {
    position: relative;
    margin: 20px 28px;
    box-shadow: -5px -4px 3px 0 rgba(255, 255, 255, 0.425),
      5px 4px 3px 0 rgba(88, 88, 88, 0.425);
  }
  .faq .accordionn .contentBx .label {
    position: relative;
    padding: 10px;
    background-color: #f4f4f4;
    color: #000;
    font-family: "Georgia";
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
  }
  .faq .accordionn .contentBx .label::before {
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
  }
  .faq .accordionn .contentBx.active .label::before {
    content: "-";
  }
  .faq .accordionn .contentBx .content {
    position: relative;
    background-color: #f4f4f4;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: hidden;
    margin-left: 0;
    color: grey;
    font-family: "Georgia";
  }
  .faq .accordionn .contentBx.active .content {
    height: fit-content;
    padding: 10px;
    font-family: "Georgia";
  }
  @media only screen and (max-width: 991px) {
    .faq .accordionn .contentBx .label {
      font-size: 18px;
      font-weight: 400;
    }
  }
  @media only screen and (max-width: 765px) {
    .faq .accordionn .contentBx .label {
      font-size: 16px;
      font-weight: 400;
    }
  }
  @media only screen and (max-width: 575px) {
    .grp_box {
      padding: 20px;
    }
    .faq .accordionn .contentBx {
      margin: 20px 0;
    }
    .faq_section {
      padding-top: 20px;
      padding: 0;
    }
  }
  .basket_heads {
    box-shadow: -5px -4px 3px 0 rgba(255, 255, 255, 0.425),
      5px 4px 3px 0 rgba(88, 88, 88, 0.425);
  }
  .university_details {
    padding: 30px;
  }
  .university_details {
    margin-bottom: 30px;
    border-bottom: 1px solid #cbccd1;
    padding-bottom: 30px;
  }
  .right_half img {
    width: 110%;
    height: 40px;
  }
  .left_half img {
    width: 110%;
    height: 40px;
  }
  .header_apply_buttons {
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 10px;
  }
  .mobnumber {
    margin-left: 15px;
  }
  .header_apply {
    background-color: #00828f;
    padding: 8px;
    color: #fff;
  }
  .header_apply:hover {
    background-color: #0e4b52;
    color: #fff;
  }
  .header_apply_form {
    margin-left: 15px;
  }
  .university_details h4 {
    margin-bottom: 15px;
    font-size: 28px;
    font-family: "Georgia";
    color: #00828f;
    line-height: 1.2em;
    font-weight: 700;
  }
  .university_details h5 {
    margin-bottom: 15px;
    font-size: 16px;
    font-family: "Georgia";
    color: #000;
  }
  .university_details h3 {
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 700;
    color: #00828f;
  }
  .university_details h6 {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.2em;
  }
  .keypoints i {
    margin-right: 8px;
  }
  .keypoints li {
    font-size: 13px;
    font-family: "Georgia";
    color: #000;
    line-height: 2.5em;
  }
  @media screen and (max-width: 1200px) {
    .header_apply_form {
      margin-top: 10px;
      margin-left: 3px;
    }
  }
  @media only screen and (min-width: 991px) {
    .left_half {
      border-left: 1px solid grey;
    }
  }
  @media only screen and (max-width: 991px) {
    .left_half img,
    .right_half img {
      width: 50%;
      height: 40px;
    }
  }
  @media only screen and (max-width: 765px) and (min-width: 576px) {
    .mobnumber {
      margin-left: 0;
      margin-top: 10px;
    }
  }
  @media only screen and (max-width: 575px) {
    .header_apply_form {
      margin-top: 0;
      margin-left: 15px;
    }
    .left_half img,
    .right_half img {
      width: 40%;
      height: 40px;
    }
  }
  @media only screen and (max-width: 444px) {
    .header_apply_form {
      margin-top: 0;
      margin-left: 5px;
    }
    .mobnumber {
      margin-left: 5px;
    }
  }
  @media only screen and (max-width: 424px) {
    .header_apply_form {
      margin-top: 10px;
      margin-left: 0;
    }
    .mobnumber {
      margin-left: 15px;
    }
  }